/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom left, #17bebb 20%, #FFFFFF 100%);
}

.nav-bar {
  color: white;
  width: 100%;
  height: 75px;
}

.logo-tab {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 30px;
  right: 22px;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Chat Engine */

.ce-chat-title-text,
.ce-chat-subtitle-text {
  color: black!important;
}

.ce-my-message-bubble,
.ce-active-chat-card,
.ce-primary-button {
  background-color: #A1E2D9!important;
}

.ce-textarea-input {
  border: 1px solid lightgray!important;
  border-radius: 5px;
}


/* Login Page */

#login-page {
  background-image: linear-gradient(to bottom left, #79C7C5 40%, #FFFFFF 100%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: rgba(255,255,255, 0.4);
  box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.google {
  background-color: #4285f4;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}

.instruction {
  padding: 25px 50px;
}
